<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>

<body>

<div class="container">


    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <a href="/tebio/" class="pull-left"><img src="/tebio/static/img/tebio-logo-base.png" height="50"></a>

                <ul class="nav navbar-nav">

                    <li class="active"><a href="/">Home</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">SBML-diff <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tebio/sbml-diff">About</a></li>
                            <li><a href="/tebio/upload">Web interface</a></li>
                            <li><a href="https://github.com/jamesscottbrown/sbml-diff">Github</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">TEBio-fit <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tebio/tebio-fit">About</a></li>
                            <li><a href="/tebio/tebiofit-form">Web config file converter</a></li>
                            <li><a href="/tebio/static/tebiofit-demo/comparison.html?experiment=modelComparison">Demo</a></li>
                            <li><a href="https://github.com/jamesscottbrown/tebio-fit">Github</a></li>
                        </ul>
                    </li>

                    <li><a href="mailto:james@jamesscottbrown.com">Contact</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>


    {% block content %}{% endblock %}
</div>
</body>