{% extends "base.html" %}
{% block content %}


<h1 class="title">sbml-diff</h1>
sbml-diff is a tool for visually representing a single <a href="http://sbml.org/">SBML</a> model, or for visually
comparing 2 or more SBML models.

It can be used in three ways:
<ul>
    <li>As a command-line tool</li>
    <li>As a python package</li>
    <li>through our <a href="/upload">web interface</a></li>
</ul>

The code is <a href="https://github.com/jamesscottbrown/sbml-diff">on Github</a>.

<h2>Visual Semantics of the Results</h2>

{% endblock %}