{% extends "base.html" %}
{% block content %}

    <h1 class="title">Upload Form</h1>


    <div class="jumbotron">
        <form role="form" class="form" method=post enctype=multipart/form-data>

            <div>
                <h3>Configuration File</h3>
                Select the ABC-sysbio configuration file to upload (has a .xml extension).

                <div class="form-group">
                    <label for="configFile">Configuration File:</label>
                    <input type=file name="configFile">
                </div>

            </div>

            <div>
                <h3>Model Files</h3>
                Select model files to upload (must be in SBML format and have .xml or .sbml extension).

                <div class="form-group">
                    <label for="file1">File 1:</label>
                    <input type=file name="file1">
                </div>
                <div class="form-group">
                    <label for="file2">File 2:</label>
                    <input type=file name="file2">
                </div>
                <div class="form-group">
                    <label for="file3">File 3:</label>
                    <input type=file name="file3">
                </div>

            </div>

            <button type="submit" class="btn btn-default">Convert</button>
        </form>
    </div>

{%  endblock %}
