{% extends "base.html" %}

{% block extra_head %}
    <script type='text/javascript'>
        var numFields = 2;

        function addField(){
            var container = document.getElementById("fileList");
            var newNum = (numFields + 1).toString();

            var new_div = document.createElement("div");
            new_div.setAttribute("class", "form-group");
            container.appendChild(new_div);

            var label = document.createElement("label");
            label.setAttribute('for', "file" + newNum);
            label.innerHTML = "File " + newNum + ":";
            new_div.appendChild(label);

            var input = document.createElement("input");
            input.type="file";
            input.name = "file" + newNum;
            new_div.appendChild(input);

           numFields = numFields + 1;
            return true;
        }
    </script>
{%  endblock %}




{% block content %}

    <h1 class="title">SBML-diff Upload Form</h1>


    <div class="jumbotron">
        <form role="form" class="form" method=post enctype=multipart/form-data>

            <div>
                <h3>Files</h3>
                Select model files to upload (must be in SBML format and have .xml or .sbml extension).

                <div id="fileList">
                    <div class="form-group">
                        <label for="file1">File 1:</label>
                        <input type=file name="file1">
                    </div>
                    <div class="form-group">
                        <label for="file2">File 2:</label>
                        <input type=file name="file2">
                    </div>
                </div>

                <button type="button" class="btn btn-default" onclick="addField()">Add another file</button>
            </div>

            <div>
                <h3>Options</h3>

                <div class="form-group">
                    <label for="reaction_labels">Labels for reaction nodes:</label>

                    <select name="reaction_labels">
                        <option value="none" selected>none</option>
                        <option value="name">name</option>
                        <option value="rate">rate</option>
                        <option value="name+rate">name and rate</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="stoichiometry">Labels edges with stoichiometry:</label>

                    <select name="stoichiometry">
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="hide_rules">Hide rules:</label>

                    <select name="hide_rules">
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                    </select>

                </div>


            </div>

            <div>
                <h3>Model abstraction</h3>

                <div class="form-group">
                    <label for="abstract">Abstract model:</label>

                    <select name="abstract">
                        <option value="yes" >yes</option>
                        <option value="no" selected>no</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="elided_species">Species to hide (ids, not names, separated by commas):</label>
                    <input type="text" name="elided_species" />
                </div>
            </div>


            <button type="submit" class="btn btn-default">Draw</button>
        </form>
        <a href="/tebio/results/example">Example results page</a>
    </div>

{%  endblock %}